import:
  # standard proto code generator
  - package: github.com/golang/protobuf
    version: v1.3.1

  # alternative proto code generator
  - package: github.com/gogo/protobuf
    version: v1.0.0

  # field_mask source
  - package: github.com/google/protobuf

  # HTTP-gRPC reverse-proxy code generator
  - package: github.com/grpc-ecosystem/grpc-gateway
    version: v1.14.8

  # grpc-gateway dependency
  - package: github.com/golang/glog
    version: 23def4e6c14b4da8ac2ed8007337bc5eb5007998

  # generated googleapis proto files (related to grpc-gateway v1.9.6)
  - package: google.golang.org/genproto
    version: c66870c02cf823ceb633bcd05be3c7cda29976f4

  # googleapis proto files (Aug 30, 2019)
  - package: github.com/googleapis/googleapis
    version: 82809578652607c8ee29d9e199c21f28f81a03e0

  # validation code generator
  - package: github.com/envoyproxy/protoc-gen-validate
    version: v0.1.0

  # proto3: validation code generator
  - package: github.com/mwitkow/go-proto-validators
    version: a55ca57f374a8846924b030f534d8b8211508cf0

  # documentation code generator
  - package: github.com/pseudomuto/protoc-gen-doc
    version: v1.0.0

  # gorm code generator
  - package: github.com/infobloxopen/protoc-gen-gorm
    version: @PGGVersion

  # atlas application toolkit
  - package: github.com/infobloxopen/atlas-app-toolkit
    version: @AATVersion

  # atlas query permission validaton generator
  - package: github.com/infobloxopen/protoc-gen-atlas-query-validate
    version: @PGAQVVersion

  # atlas validaton generator
  - package: github.com/infobloxopen/protoc-gen-atlas-validate
    version: @PGAVVersion

  # preprocessing generator
  - package: github.com/infobloxopen/protoc-gen-preprocess
    version: @PGPVersion

  - package: github.com/jinzhu/gorm
    version: v1.9.1

  - package: github.com/jinzhu/inflection
