import:
  # standard proto code generator
  - package: github.com/golang/protobuf
    version: v1.0.0

  # alternative proto code generator
  - package: github.com/gogo/protobuf
    version: v1.0.0

  # field_mask source
  - package: github.com/google/protobuf

  # HTTP-gRPC reverse-proxy code generator
  - package: github.com/grpc-ecosystem/grpc-gateway
    version: v1.4.1

  # grpc-gateway dependency
  - package: github.com/golang/glog
    version: 23def4e6c14b4da8ac2ed8007337bc5eb5007998

  # generated googleapis proto files
  - package: google.golang.org/genproto
    version: 2b5a72b8730b0b16380010cfe5286c42108d88e7

  # googleapis proto files
  - package: github.com/googleapis/googleapis
    version: 79d2054a2380a3567d2c8bd57735155370c39840

  # proto2: validation code generator
  - package: github.com/lyft/protoc-gen-validate
    version: v0.0.7

  # proto3: validation code generator
  - package: github.com/mwitkow/go-proto-validators
    version: a55ca57f374a8846924b030f534d8b8211508cf0

  # documentation code generator
  - package: github.com/pseudomuto/protoc-gen-doc
    version: v1.0.0

  # gorm code generator
  - package: github.com/infobloxopen/protoc-gen-gorm
    version: @PGGVersion

  # atlas application toolkit
  - package: github.com/infobloxopen/atlas-app-toolkit
    version: @AATVersion

  # atlas query permission validaton generator
  - package: github.com/infobloxopen/protoc-gen-atlas-query-validate
    version: v0.3.0

  # atlas validaton generator
  - package: github.com/infobloxopen/protoc-gen-atlas-validate
    version: v0.1.2

  # preprocessing generator
  - package: github.com/infobloxopen/protoc-gen-preprocess
    version: v0.3.1

  - package: github.com/jinzhu/gorm
    version: v1.9.1

  - package: github.com/jinzhu/inflection
